/*-------------RESET DEFAULT SETTINGS-------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------GLOBAL VARIABLES-------------*/
:root{
    /*---variables for text color---*/
    --letter-spacing: 2px;
    /*---variables for text color---*/
    --text-white: #fffffe;
    --text-sand: #DAC180;
    /*---variables for font desktop---*/
    --font-x-large-desktop: 80px;
    --font-large-desktop: 60px;
    --font-meduim-desktop: 40px;
    --font-small-desktop: 30px;
    --font-x-small-desktop: 10px;
    /*---variables for font mobile---*/
    --font-x-large-mobile: 50px;
    --font-large-mobile: 40px;
    --font-meduim-mobile: 30px;
    --font-small-mobile: 20px;
    --font-x-small-mobile: 10px;
    /*---variables for width & height---*/
    --width-max: 100vw;
    --height-max: 100vh;
}
/*-------------FREQUENT CLASSES-------------*/

@media (max-width: 480px){
    .display-none-xs{
        display: none !important;
    }
}

/*-------------BODY CSS-------------*/
body{
    width: var(--width-max);
    overflow-x: hidden;
    background-color: #010101;
}

/*-------------HEADER SECTION-------------*/
.header{
    width: var(--width-max);
    height: var(--height-max);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
.header-text-container{
    width: 40%;
    z-index: 1;
}
.header-img-container{
    width: 60%;
}
.header-banner{
    width: 120%;
}
.name{
    color: var(--text-white);
    font-size: var(--font-x-large-desktop);
}
.function{
    color: var(--text-sand);
    text-transform: uppercase;
    font-size: var(--font-small-desktop);
}
/*-------------HEADER RESPONSIVE-------------*/

/*---MOBILE SCREEN---*/
@media (max-width: 480px){
    .header{
        width: var(--width-max);
        height: var(--height-max);
        display: flex;
        flex-direction: column;
        padding: 10%;
    }
    .header-text-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .header-img-container{
        width: 100%;
    }
    .header-img-container::after{
        content: "developpeur web & mobile";
        color: var(--text-sand);
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        justify-content: center;
        margin-top: 20%;
        font-size: var(--font-small-mobile);
    }
    .name{
        font-size: var(--font-x-large-mobile);
        margin-bottom: 20px;
    }
    .function{
        display: none;
    }
    .header-banner{
        width: 100%;
    }
}
/*---TABLET & LAPTOP SCREEN*/
@media (max-width: 1024px){
    .header{
        padding: 5%;
    }
    .header-banner{
        width: 100%;
    }
    .name{
        font-size: var(--font-x-large-mobile);
        margin-bottom: 20px;
    }
}

/*-------------PROJECT SECTION-------------*/
.project{
    width: var(--width-max);
    height: auto;
    padding: 5%;
}
.project-list-title{
    font-size: var(--font-small-desktop);
    color: var(--text-sand);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
}
.project-image-container{
    margin: 100px;
}
.project-image-container ul li:nth-child(odd){
    display: flex;
    justify-content: flex-start;
}
.project-image-container ul li:nth-child(even){
    display: flex;
    justify-content: flex-end;
}
.project-img{
    width: 45%;
    margin: 20px;
}
.project-title{
    color: var(--text-white);
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-------------PROJECT RESPONSIVE-------------*/
/*---MOBILE SCREEN*/
@media  (max-width: 480px){
    .project-image-container{
        margin: 0px;
    }
    .project-image-container ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-list-title{
        margin-bottom: 30px;
    }
    .project-title-mobile{
        color: var(--text-white);
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .project-title{
        width: 100%;
    }
    .project-img{
        width: 100%;
    }
}
/*---TABLET & LAPTOP SCREEN*/
@media (max-width: 1024px){

}

/*-------------MENU BURGER-------------*/
.container-corner{
    position: absolute;
    right: 40px;
    top: 40px;
}
.circle-menu{

}
.links-circle{

}
.btn-circle{
    background-color: var(--text-sand);
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    z-index: 15;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--text-white);
}
.line{
    width: 50%;
    height: 3px;
    background-color: #fffffe;
    transition:
    transform 0.2ms ease,
    opacity 0.2ms ease,
    top 0.2ms ease;
    position: relative;
}
.line:nth-child(1){
    top: -10px
}
.line:nth-child(3){
    top: 10px
}
